@font-face {
  font-family: 'OpenSansSemiBold';
  src: local('OpenSansSemiBold'), url('./fonts/OpenSans-SemiBold.woff2') format('woff2'), url('./fonts/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'AvenirLight';
  src: local('AvenirLight'), url('./fonts/AvenirLight.woff2') format('woff2'), url('./fonts/AvenirLight.woff') format('woff');
}

@font-face {
  font-family: 'AvenirMedium';
  src: local('AvenirMedium'), url('./fonts/AvenirMedium.woff2') format('woff2'), url('./fonts/AvenirMedium.woff') format('woff');
}

.open-sans-semi-bold {
  font-family: 'OpenSansSemiBold';
}

.avenir-light{
  font-family: 'AvenirLight';
}

.avenir-medium{
  font-family: 'AvenirMedium';
}

body{
  background: transparent linear-gradient(136deg, #FCF3F3 0%, #FFFFFF 49%, #FAF1F0 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


